
h1{
    text-align: center; 
}

h2{
    grid-area: captcont;
    margin: 0%;
    padding: 0 1.5%; 
    border-bottom: 3px solid black;
    border-left: 3px solid black;
    text-align: center;
    background : orange;
}

.box1, .box2, .box3{
    margin: 5% 5%;
    background:rgb(74, 170, 74);
    border: 3px solid black;
}

.text-1, .text-2, .text-3{
    padding: 1.7%;
}

.captcont{
    display: grid;
    grid-template-columns: 32,5% 32,5% 35%;
    grid-template-areas: ". . captcont";

}

@media (min-width: 992px){
.row{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(1,1fr);
}

}


@media (min-width: 768px) and (max-width: 992px){

.row{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
    grid-template-areas: "capt1 capt2"
                         "capt3 capt3";
}

.box3{
    margin: 5% 2.5%;
}


.cont1{
    grid-area: capt1;
}

.cont2{
    grid-area: capt2;
}

.cont3{
    grid-area: capt3;
}

}
